.chosen_element_popup {
    transition: 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.2);
}

.chosen_element_popup_inner {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    box-sizing: border-box;
    padding: .25rem;
    margin: 1rem;
    background-color: #E0EFF1;
    color: #000000;
    width: 30%;
}

.chosen_element_popup_inner p {
      padding-left: .75rem;
  }

#button_div {
    display: flex;
    justify-content: flex-end;
}

  #button_div button {
    border-radius: 5px;
    border: none;
    background-color: #000000;
    color: #E0EFF1;
    min-height: 44px;
    margin-left: .5rem;
}

#right_most_button {
    margin-left: .5rem;
}