.listElement {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    box-sizing: border-box;
    padding: .25rem;
    margin: 1rem;
    background-color: #E0EFF1;
    color: #000000;
    cursor: default;
}

.listElement:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  }

  .listElement p {
      padding-left: .75rem;
  }

  .listElement.hideElement {
      background-color: #7DB4B5;
      color: #7DB4B5;
      box-shadow: none;
      transition: .1s;
  }

  .listElement.hideElement.gridOrder {
      order: 1;
  }