.navbarHeader {
    background-color: #000000;
    min-height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fabars {
    color: #E0EFF1;
    box-sizing: border-box;
    margin-left: .5rem;
}

.fasearch {
    color: #E0EFF1;
    margin-right: 1rem;
}