.navbar {
    background-color: black;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: .5rem;
    transition: 0.5s;
}

.navbar.displayNavbar {
    width: 9rem;
}

.navbar p {
    color: white;
    transition: 0.3s;
}

.navbar p:hover {
    background-color: white;
    color: black;
}

.closeXButton {
    color: white;
    margin-left: .5rem;
    transition: 0.3s;
}
