.navbarHeader {
    background-color: #000000;
    min-height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fabars {
    color: #E0EFF1;
    box-sizing: border-box;
    margin-left: .5rem;
}

.searchDiv {
    display: flex;
    box-sizing: border-box;
    margin-right: 1rem;
}

.searchDiv_form_input {
    width: 0rem;
    padding: 0;
    border: 0;
}

.searchDiv_form_input.show_search_bar {
    width: auto;
    padding: 2px;
}

#fasearchIcon {
    color: #E0EFF1;
    margin-left: .25rem;
}