#newBookForm {
    background-color: #E1F5C4;
    color: #FF4E50;
    margin: 2rem 1rem 0 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#newBookForm label {
    margin: 0 .5rem 0 0;
}

#newBookForm label input {
    margin: 0 0 0 .2rem;
}

#newBookForm label select {
    margin: 0 0 0 .2rem;
}

#newBookForm button {
    margin: 0 .5rem 0 0;
    min-height: 44px;
    background-color: #FF4E50;
    color: #E1F5C4;
    border: none;
    border-radius: 5px;
    border-color: #FF4E50;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#newBookForm ul {
    list-style-type: none;
    width: 100%;
}